@import "tailwindcss";
@import "@heroui/styles"; 

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: black;
}

.dark body {
  background: #020617;
  color: white;
}

/* SWIPER */

.heroSwiper .swiper-button-next,
.heroSwiper .swiper-button-prev {
  width: 52px;
  height: 52px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  color: white;
  transition: 0.3s;
}

.heroSwiper .swiper-button-next:hover,
.heroSwiper .swiper-button-prev:hover {
  background: rgba(255, 255, 255, 0.28);
}

.heroSwiper .swiper-button-next::after,
.heroSwiper .swiper-button-prev::after {
  font-size: 18px;
  font-weight: bold;
}

.heroSwiper .swiper-pagination {
  bottom: 24px !important;
}

.heroSwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.5;
  transition: 0.3s;
}

.heroSwiper .swiper-pagination-bullet-active {
  width: 34px;
  border-radius: 999px;
  background: #5b4bff;
  opacity: 1;
}

@media (max-width: 640px) {
  .heroSwiper .swiper-button-next,
  .heroSwiper .swiper-button-prev {
    width: 38px;
    height: 38px;
  }

  .heroSwiper .swiper-button-next::after,
  .heroSwiper .swiper-button-prev::after {
    font-size: 12px;
  }
}